<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <% include!("components/head.html"); %>
</head>

<body>
    <div class="flex flex-col w-full justify-center h-screen bg-gray-200">
        <div class="flex flex-row justify-center">
            <div class="flex flex-col bg-white p-12 rounded-md shadow-md">
                <span class="text-lg font-semibold text-center">Daftar</span>
                <label for="">Nama</label>
                <input type="text" class="border-2 border-gray-300 bg-slate-100 rounded-sm p-2">
                <br>
                <label for="">No Telp</label>
                <input type="text" class="border-2 border-gray-300 bg-slate-100 rounded-sm p-2">
                <br>
                <button class="bg-blue-500 text-white pt-2 pb-2 rounded-md hover:bg-blue-600">Daftar</button>
                <br>
                <span>Sudah Punya akun? <a href="" class="text-blue-500">Masuk sini</a></span>
            </div>
        </div>
    </div>
</body>
<script>

</script>
</html>